@model IEnumerable<ToDos.Models.ToDo>
@using ToDos.Views.HtmlExtensions

@{
    ViewBag.Title = "All To Dos";
}

<h2>To Dos</h2>


@Html.ActionLink("Create New", "Create")

@using (Html.BeginForm("FilterByWhatToDo", "ToDo", FormMethod.Get))
{
<p>
    What to do: @Html.TextBox("whatToDoContainsThis")
    <input type="submit" value="Filter" class="btn btn-success" />
    <input type="button" value="Clear filter" onclick="ClearText('#whatToDoContainsThis')" class="btn btn-success" />
</p>
}

<table class="table table-responsive table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WhatToDo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WhenItWasDone)
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="col-md-4 wrapText">
                @Html.TextAreaDisplayFor(modelItem => item.WhatToDo)
            </td>
            <td class="col-md-4">
                @Html.DisplayFor(modelItem => item.WhenItWasDone)
            </td>
            <td class="col-md-4">
                @Html.ActionLink("Edit", "Edit", new { toDoID = item.ID }) |
                @Html.ActionLink("Details", "Details", new { toDoID = item.ID }) |
                @Html.ActionLink("Delete", "Index", "ToDoDelete", new { toDoID = item.ID }, new object())
            </td>
        </tr>
    }
</table>

