@model IEnumerable<ToDos.Models.ToDo>
@using ToDos.Views.HtmlExtensions

@{
    ViewBag.Title = "All To Dos";
}

@Html.ActionLink("Create New", "Create")

@using (Html.BeginForm("FilterByWhatToDo", "ToDo", FormMethod.Get))
{
    <p>
        What to do: @Html.TextBox("whatToDoContainsThis")
        <input type="submit" value="Filter" class="btn btn-success" />
        <input type="button" value="Clear filter" onclick="ClearText('#whatToDoContainsThis')" class="btn btn-success" />
    </p>
}

<div id="content"></div>

<table class="table table-responsive table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WhatToDo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WhenItWasDone)
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="col-md-4 wrapText">
                @Html.TextAreaDisplayFor(modelItem => item.WhatToDo)
            </td>
            <td class="col-md-4">
                @Html.DisplayFor(modelItem => item.WhenItWasDone)
            </td>
            <td class="col-md-4">
                @Html.ActionLink("Edit", "Edit", new { toDoID = item.ID }) |
                @using (Html.BeginForm("Delete", "ToDoDelete", FormMethod.Post, new { @class = "InlineForm" }))
                {
                    @Html.Hidden("toDoID", item.ID)
                    <input id="DownButton" type="submit" value="Delete" class="ButtonAsLink" />
                } |
                @using (Html.BeginForm("MoveToDoDownToLastInPriority", "ToDoOrderUpdater", FormMethod.Post, new { @class = "InlineForm" }))
                {
                    @Html.Hidden("toDoID", item.ID)
                    @Html.Hidden("userName", item.UserName)
                    <input id="UpButtonToTopOfToDos" type="submit" value="&#x25B2;" class="TopButtonAsLink" />
                }
                @using (Html.BeginForm("MoveToDoDownInPriority", "ToDoOrderUpdater", FormMethod.Post, new { @class = "InlineForm" }))
                {
                    @Html.Hidden("toDoID", item.ID)
                    @Html.Hidden("userName", item.UserName)
                    <input id="UpButton" type="submit" value="&#x25B2;" class="ButtonAsLink" />
                }

                @using (Html.BeginForm("MoveToDoUpInPriority", "ToDoOrderUpdater", FormMethod.Post, new { @class = "InlineForm" }))
                {
                    @Html.Hidden("toDoID", item.ID)
                    @Html.Hidden("userName", item.UserName)
                    <input id="DownButton" type="submit" value="&#x25BC;" class="ButtonAsLink" />
                }
            </td>
        </tr>
    }
</table>

