@model IEnumerable<ToDos.Models.ToDo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@Html.ActionLink("Create New", "Create")

@using (Html.BeginForm("Index", "ToDo", FormMethod.Get))
{
    <p>
        What to do: @Html.TextBox("whatToDo") <br />
        <input type="submit" value="Filter" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WhatToDo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WhenItWasDone)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WhatToDo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhenItWasDone)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", item) |
                @Html.ActionLink("Details", "Details", new { id = item.ID}) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID})
            </td>
        </tr>
    }
</table>

